.entirePage {
  margin-top: 150px;
  /* background-color: rgb(255, 255, 255); */
  /* display: flex; */
  /* display: block; */
  width: 98.3vw;
  height: 100vh;

}

div.row {
  /* min-width: 1887px; */
  width: 100%;
}

div.col-3 {
  justify-content: center;
}

.topOfPage {
  min-height: 120px;
  /* width: 98.3vw; */
  display: flex;
}

.leftPanel {
  grid-area: left;
  width: auto;
  max-width: 943px;
  flex: 1;
  /* Adaugă această linie */
}

.rightPanel {
  justify-content: center;
  align-items: center;
  grid-area: right;
  width: auto;
  max-width: 942px;
  border-left: 1px solid black;
}

.gridContainer>div {
  /* background-color: rgba(0, 0, 0, 0.8); */
  /* background-color: rgba(21, 21, 255, 0.8); */
  padding: 20px 30px;

}

.separator {
  align-content: center;
  grid-area: separator;
  width: 1px;
  height: 100vh;
  background-color: #000;
  margin: 5px 5px;
}

label {
  padding: 20px;
}

DatePicker {
  z-index: 100;
}


h1 {
  text-align: center;
  position: absolute;
  /* top: 50%; */
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.statisticsContainer {
  /* display: 'flex'; */
  justify-content: 'center';
  width: 50%;
}

.col {
  /* display: grid; */
}

h3 {
  padding-top: 20px;

}


.newsFeedTable {
  border-radius: 20px;
  max-height: 6000px;
  /* margin: 10px 10px 10px 10px; */
  overflow: clip;
  max-width: 1500px;
  /* left: 50%; */
  /* transform: translate(7, 0%); */
}