


div.row {
  width: 100%;
}

div.col-3 {
  justify-content: center;
}

.topOfPage {
  min-height: 120px;
  /* width: 98.3vw; */
  display: flex;
}

.leftPanel {
  grid-area: left;
  width: auto;
  max-width: 943px;
  flex: 1;
  /* Adaugă această linie */
}

.rightPanel {
  justify-content: center;
  align-items: center;
  grid-area: right;
  width: auto;
  max-width: 942px;
  border-left: 1px solid black;
}

.gridContainer>div {
  /* background-color: rgba(0, 0, 0, 0.8); */
  /* background-color: rgba(21, 21, 255, 0.8); */
  padding: 20px 30px;

}

.separator {
  align-content: center;
  grid-area: separator;
  width: 1px;
  height: 100vh;
  background-color: #000;
  margin: 5px 5px;
}

label {
  padding: 20px;
}

DatePicker {
  z-index: 100;
}




.statisticsContainer {
  /* display: 'flex'; */
  background-color: #f0fbff;
  justify-content: 'center';
  width: 50%;
}

.col {
  /* display: grid; */
}

h3 {
  padding-top: 20px;
}


