/* Stilizare pentru tabel */
table {
    width: 100%;
    border-collapse: collapse;
  }
  
  /* Stilizare pentru antetul tabelului */
  thead {
    background-color: lightblue;
  }
  
  /* Stilizare pentru celulele antetului */
  th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  /* Stilizare pentru rândurile tabelului */
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #ffffff;
  }
  
  /* Stilizare pentru celulele tabelului */
  td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  

  /* butoane: */
  .btn {
    border-radius: 4px;
    font-size: 13px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 0px;
    border: none;
    letter-spacing: .01rem;
    position: relative;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: .1rem;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    top: 0;
    text-align: center;
    color: #fff;
}

.btn:hover,
.btn:active,
.btn:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #000;
    background: #fff;
    letter-spacing: .2rem;
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
}

.btn-indigo {
    background: #6610f2;
}

.btn-blue {
    background: #59a9ff;
}